#getStarted{
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
    max-width: 862px;
    /* line-height: 30px; */
}
#getStarted h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 30px;
}
#getStarted p{
    color: rgb(80, 82, 86);
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;
    line-height: 30px;  
}
.btns{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.btn{
    height: 3rem;
    width: 11rem;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.gs{
    background-color: rgb(19, 138, 248);
    color: #fff;
}
.gs:hover{
    background-color: rgb(16, 126, 229);
}
.wv{
    background-color: transparent;
    border: 1px solid rgb(162, 162, 164);
    color: rgb(80, 82, 86);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wv:hover{
    border: 1px solid rgb(80, 82, 86);
}
.btn img{
    display: inline;
}

@media screen and (max-width: 900px){
    #getStarted{
        padding-top: 20px;
    }
    #getStarted h1{
        font-size: 2.5rem;
    }
    .btns{
        font-size: 2.5rem;
    }
    #getStarted p{
        width: unset;
    }
}
@media screen and (max-width: 600px){
    .btns{
        flex-direction: column;
    }
    .btn{
        width: 100%;
    }
}